{{$root:=.}}
	<h3>Свойства</h3>
<div class="container m-0 p-0 overflow-scroll vh-100">
	<form method=post>
		{{with .cookie}}
			<label class="form-label"> Name
			<input type=text class=form-control name=name value={{.Name}} >
			</label>
			<label class="form-label"> Domain
			<input type=text class=form-control name=host value={{.Host}} >
			</label>
			<label class="form-label"> Path
			<input type=text class=form-control name=path value={{.Path}} >
			</label>
			<label class="form-label"> Expire
			<input type=number class=form-control name=expiry value={{.Expiry}} >
			</label>
			<div>
			<label for=value class="form-label"> Value
			</label>
				<textarea style=-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100% type=text class=form-control name=value>{{.Value}}</textarea>
			</div>
		{{end}}
			<div>
			<label class="form-label"> SameSite
				<select class=form-select name=same_site>
					{{range $k, $v := .samesite}}
					<option value={{$k}} {{if eq $k $root.cookie.SameSite}} selected {{end}}>{{$v}}</option>
					{{end}}
				</select>
			</label>
			</div>
		{{with .cookie}}
			<div>
				<input type=checkbox class=form-check-input name=is_secure {{if .IsSecure}} checked {{end}} >
				<label class="form-check-label">IsSecure
				</label>
			</div>
			<div>
				<input type=checkbox class=form-check-input name=is_http_only {{if .IsHttpOnly}} checked {{end}} >
				<label class="form-check-label">HttpOnly
				</label>
			</div>
		{{end}}
		<input formaction="/rules" class="btn btn-primary mt-4" type="submit" value="Добавить правило">
		<input formaction="/cookie/{{.ID}}" class="btn btn-primary mt-4" type="submit" value="Изменить значения">
		<input formaction="/cookie/{{.ID}}/delete" class="btn btn-danger mt-4" type="submit" value="Удалить">
	</form>
</div>
