<nav class="navbar navbar-expand-md">
	<div class=container-fluid>
		<div >
			<ul class="navbar-nav me-auto">
				<li class="nav-item"><a class="nav-link {{if eq . "cookies"}} active {{end}}" href=/cookies> Cookie browser</a></li>
				<li class="nav-item"><a class="nav-link {{if eq . "rules"}} active {{end}}" href=/rules>Правила</a></li>
			</ul>
		</div>
	</div>
</nav>
