<!DOCTYPE html>
<html>
	{{template "view/lib/head" "<title>Cookie</title>"}}
<body>
	{{template "view/lib/header" "cookie"}}
<div class=container>
	<div class=row>
		<div class="col-3">
		{{template "view/lib/domains" .domains}}
		</div>

		<div class="col-4">
		{{template "view/lib/cookies" .cookies}}
		</div>

		<div class="col-5">
		{{template "view/lib/cookie" .}}
		</div>
	</div>
</div>
</body>
</html>
