<!DOCTYPE html>
<html>
	{{template "view/lib/head" "<title>Cookies</title>"}}
<body>
<div class=container>
	<div class=row>
	<div class=col-4>
	{{template "view/lib/domains" .domains}}
	</div>
	<div class=col-8>
	{{template "view/lib/cookies" .cookies}}
	</div>
	</div>
</div>
</body>
</html>
