<!DOCTYPE html>
<html>
	{{template "view/lib/head" "<title>Cookies</title>"}}
<body>
	{{template "view/lib/header" "cookies"}}
<div class="container m-1">
	<div class="row g-2">
		<div class="col-4">
		{{template "view/lib/domains" .domains}}
		</div>
		<div class="col-8">
		{{template "view/lib/cookies" .cookies}}
		</div>
	</div>
</div>
</body>
</html>
