<!DOCTYPE html>
<html>
	{{template "view/lib/head" "<title>Domains</title>"}}
<body>
	{{template "view/lib/header" "cookies"}}
	<div class=container>
	{{template "view/lib/domains" .domains}}
	</div>
</body>
</html>
